@import './_variable.less';


html {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 625%;
}

body {
  font-size: 14px;
  background-color: #efeff4;
  color: #333;
}

#app {
  position: relative;
  height: 100vh;
}
.page {
  box-sizing: border-box;
  min-height: 100%;
}

.page-has-hd {
  padding-top: .46rem !important;
}
.page-has-tab {
  padding-bottom: .5rem !important;
}




.text-l {
  text-align: left;
}
.text-c {
  text-align: center;
}
.text-r {
  text-align: right;
}


/**
 * cover mint-ui default css
 */
.v-cell {
  border-bottom: 1px solid #ececec;
}
.v-cell:last-child {
  background-image: none;
}