@import './_variable.less';


html {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 625%;
}

body {
  font-size: 14px;
  background-color: #efeff4;
  color: #333;
}

#app {
  position: relative;
  height: 100vh;
}
.page {
  box-sizing: border-box;
  min-height: 100%;
}

.page-has-hd {
  padding-top: .46rem !important;
}
.page-has-tab {
  padding-bottom: .5rem !important;
}
.page-has-search {
  padding-top: .86rem !important;
}


.text-l {
  text-align: left;
}
.text-c {
  text-align: center;
}
.text-r {
  text-align: right;
}
.text-e {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/**
 * cover mint-ui default css
 */
.v-cell {
  border-bottom: 1px solid #ececec;
}
.v-cell:last-child {
  background-image: none;
}
.mint-cell-wrapper {
  font-size: 14px;
  background-image: none;
}
.picker-toolbar {
  border-bottom: 1px solid #ececec;
}


/* img */
.img-avatar {
  display: inline-block;
  width: .6rem;
  height: .6rem;
  border-radius: .05rem;
  border: 1px solid #ececec;
}
.img-head {
  width: .35rem;
  height: .35rem;
}