@import './_variable.less';


html {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 625%;
}

body {
  font-size: 14px;
  background-color: #ededed;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover,
a:active,
a:visited,
a:link,
a:focus {
  outline: none;
  text-decoration: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -moz-user-focus: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-user-focus: none;
}


#app {
  position: relative;
  height: 100vh;
}
.page {
  box-sizing: border-box;
  min-height: 100%;
}

.page-has-hd {
  padding-top: .46rem !important;
}
.page-has-tab {
  padding-bottom: .56rem !important;
}
.page-has-search {
  padding-top: .86rem !important;
}

.v-header-r {
  position: fixed;
  z-index: 101;
  top: .14rem;
  right: .1rem;
  font-size: .18rem;
}


.text-l {
  text-align: left;
}
.text-c {
  text-align: center;
}
.text-r {
  text-align: right;
}
.text-e {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.flex-v {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/**
 * cover mint-ui default css
 */
.v-cell {
  min-height: .55rem;
  border-bottom: 1px solid #ececec;
}
.v-cell:last-child {
  background-image: none;
}
.mint-cell-wrapper {
  font-size: 14px;
  background-image: none;
}
.v-cell-2 {
  min-height: .6rem;
}
.v-cell-2 .mint-cell-text {
  display: inline-block;
  margin-bottom: .2rem;
}
.v-cell-2 .mint-cell-label {
  position: absolute;
  top: .35rem;
  left: .62rem;
  width: 2rem;
  margin-top: 0;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-cell {
  display: flex;
}
.user-cell .cell-r {
  flex: 1;
  margin-left: .15rem;
}
.user-cell .cell-r-t {
  margin: .05rem 0;
  font-size: .14rem;
}
.user-cell .cell-r-b {
  color: #999;
  font-size: .12rem;
}



.picker-toolbar {
  border-bottom: 1px solid #ececec;
}


/* img */
.img-avatar {
  display: inline-block;
  width: .6rem;
  height: .6rem;
  border-radius: .05rem;
  border: 1px solid #ececec;
}
.img-head {
  display: inline-block;
  width: .4rem;
  height: .4rem;
  border-radius: .05rem;
  border: 1px solid #ececec;
  margin-right: .05rem;
}
.img-response {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: .05rem;
}
.img-face {
  display: inline-block;
  width: .4rem;
  height: .4rem;
  border-radius: .05rem;
  border: 1px solid #ececec;
}
.img-container {
  display: inline-block;
  width: 30vw;
  height: 30vw;
  margin-right: .1rem;
  margin-bottom: .1rem;
}
.img-full {
  display: inline-block;
  width: 100%;
  height: 100%;
}
img[lazy=loading] {
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* upload */
.v-uploader {
  width: .6rem;
  height: .6rem;
  border-radius: .05rem;
  border: 1px solid #fff;
}
.v-uploader .icon {
  font-size: .5rem;
  color: #fff;
}


/* btn */
.btn-green {
  background-color: #07c160;
}